body {
  background-image: url("../img/background.jpg");

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content {
  display: block;
  width: 100%;
  min-height: 81vh;
  max-width: 1255px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.startPLogo {
  top: 4vh;
  left: 1vw;
  position: absolute;
}
.startPTextBox {
  position: fixed;
  top: 15vh;
  left: 1vw;
}
.btnStyle {
  display: inline-block;
  background-color: black;
  height: 60px;
  width: auto;
  min-width: 188px;
  margin-right: 1.33%;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.mainPageBtns {
  display: none;
  position: absolute;
  margin-left: 90px;
  margin-top: 80px;
  width: 100%;
}

.MainPText {
  margin-top: 30px;
  width: 80%;
  overflow: hidden;
  margin-left: 80px;
}

h1 {
  color: #01b4dc;
  font-weight: bold;
}

h2 {
  min-height: 150px;
}

#backBtn {
  display: none;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#backBtn:focus {
  outline: none;
}

.btnSkip {
  background: white;
  font-weight: normal;
  color: #a8a8a8;
  margin-left: 70px;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  position: relative;
  top: 13px;
  right: 5px;
}

.arrow {
  position: relative;
  top: 8px;
  left: 5px;
}

.resultP {
  display: none;
}

.resultContainer {
  margin-top: 160px;
}

#nulContainer {
  position: relative;
}
